html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    background-color: rgb(253, 166, 158);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #333;
}

section {
    width: 100%;
    min-height: 1px;
}


#content{
    background: rgb(254, 254, 252);
    width:100%;
    height:auto;
    float:left;
    position:relative;

}

* {
}

a {
    color: white;
}

a.svg {
    position: relative;
    display: inline-block;
}

a.svg:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#header {
    position: relative;
    width: 100%;
    height: 200px;
    background-color: #cccccc;
    color: #444;
    margin-top: 0;
    padding-top: 0;
    align-content: center;

}

#header-container {
    margin-top: 40px;
    position: relative;
    width: 100%;
    line-height: 1;
}

#header-logo {
    position: absolute;
    height: 140px;
    width: 166px;
    top: 50%;
    left: 50%;
    margin-top: -68px;
    margin-left: -83px;

}

#header-text {
    position: absolute;
    width: 495px;
    left: 50%;
    margin-left: -247.5px;
    margin-top: 50px;
    line-height: 1.05;
}

#page-title {
    font-weight: 400;
    letter-spacing: 4px;
    font-size: 18pt;
}

#logo-large {
    font-size: 40pt;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 11px;
    float: right;
}

#social {
    font-size: 20pt;
    letter-spacing: 3px;
    font-weight: 900;
    position: absolute;
    right: 0px;
    bottom: 0px;
    top: 160px;
    margin-right: 10px;
}

#follow {
    position: relative;
    font-size: 15pt;
    font-weight: 500;
    letter-spacing: 1px;
    padding-left: 10px;
    color: black;
}

#follow-img {
    width: 20px;
    height: 20px;

}


#in-the-news {
    position: relative;
}

#in-the-news-text {

    position: relative;
    height: 150px;
    float: left;
    color: rgb(77, 120, 102);
    line-height: 1;
    letter-spacing: 4px;
    font-size: 23pt;
    font-weight: 300;
    background: rgb(165, 254, 214);
    padding: 20px;

}

#in-the-news-picture {
    position: relative;
    height: 150px;
    float: left;
    background: url('../img/article.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: 50% 30%;
}

#about-us-inner {
    background: rgb(252, 104, 107);
    height: 100px;
    color: white;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30pt;
    letter-spacing: 7px;

}

#volunteer {
    background: rgb(253, 166, 158);
    height: 100px;
    color: white;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30pt;
    letter-spacing: 7px;

}

#about-us-what-img {
    position: relative;
    height: 230px;
    float: left;
    background: url('../img/what-image.jpg');
    background-size: auto 140%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

#about-us-what-text {
    position: relative;
    height: 230px;
    float: left;
    background: rgb(253, 166, 158);
}

#about-us-large {
    position: relative;
    float: left;
    font-size: 50pt;
    color: rgb(255, 200, 87);
    clear: both;
}

#about-us-what-text-text {
    margin-left: -10px;
    margin-top: -20px;
    color: white;
}

#about-us-who-text {
    position: relative;
    height: auto;
    float: left;
    margin-top: -20px;
}

#about-us-who-img {
    position: relative;
    height: 200px;
    float: left;
    background: url('../img/who-img.jpg');
    background-size: auto 250%;
    background-repeat: no-repeat;
    background-position: 65% 50%;
}

#contact-header {
    color: white;
    font-size: 30pt;
    font-weight: 700;
    letter-spacing: 4px;
}

#contact-email {
    color: white;
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    margin-top: -10px;
}

#contact-credit {
    font-size: 12pt;
    font-weight: 500;
    text-align: right;
    color: white;
    padding-bottom: 10px;
    margin-top: 15px;
}

.contact-bkg {
    background: rgb(253, 166, 158);

}

#contact {
    margin-top: 20px;
}



#registration-form {
    position: relative;
    float: left;
    clear: both;
}

section.col-xs-12 {
    padding-left: 0px;
    padding-right: 0px;
}

#note {
    background: rgb(132, 220, 198);
    padding: 25px;
    color: rgb(59, 100, 90);
    text-align: justify;
    text-justify: inter-word;
    font-size: 13pt;
}

#note-large {
    position: relative;
    float: left;
    color: white;
    font-weight: 300;
    font-size: 22pt;
    line-height: 1;
    letter-spacing: 4px;
}

#column-container {
    padding: 0px;
}

#where{
    background:rgb(132, 220, 198);
    min-height:190px;
    color: rgb(59, 100, 90);
    padding:20px
}


#map{
    padding:0px;
    min-height:190px;
}

#map>iframe{
    min-height:190px;
    height:auto;
}

#sponsorship {
    text-align:center;
    position: relative;
    padding-top:20px;
    font-weight: 100;
    font-size: 22pt;
    line-height: 1;
    letter-spacing: 4px;

}